.button {
	width: fit-content;
	width: -moz-fit-content;
	min-width: 15.9rem;
	height: 4.8rem;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: $purple;
	border: 0.2rem solid $purple;
	color: #fff;
	font-size: 1.6rem;
	font-weight: bold;
	border-radius: 2.5rem;
	transition: ease 0.5s;
	position: relative;
	padding: 0 2.2rem;
	cursor: pointer;

	svg {
		margin-left: 1.5rem;
		transition: ease 0.5s;
	}

	&:hover {
		background-color: darken($purple, 8%);
		border-color: darken($purple, 8%);
		svg {
			transform: translate3d(5px, 0, 0);
		}
	}

	&--white-outline {
		border-color: #fff;
		background-color: transparent;
	}

	&--grey {
		background-color: $grey;
		border-color: $grey;
		color: #fff;

		&:hover {
			background-color: darken($grey, 8%);
			border-color: darken($grey, 8%);
		}
	}

	&--black-outline {
		border-color: $dark-grey;
		background-color: #fff;
		color: $dark-grey;

		svg {
			path {
				fill: $dark-grey;
			}
		}
	}

	&--purple-outline {
		border-color: $purple;
		background-color: transparent;
		color: $purple;

		&:hover {
			background-color: darken($grey, 8%);
			border-color: darken($grey, 8%);
			color: #fff;

			svg {
				path {
					fill: #fff;
				}
			}
		}
	}

	&--icon-left {
		svg {
			margin: 0 1rem 0 0;
		}
	}

	&--white {
		background-color: #fff;
		border-color: #fff;
		color: $purple;

		svg {
			path {
				fill: $purple;
			}
		}
	}
}
