.callout {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(#000, 0.5);
    padding: rem-calc(15);
    text-align: center;
    margin: 0 auto;
    position: relative;
    z-index: 4;

    @include breakpoint(small only) {
        justify-content: center;
    }

    p {
        font-family: $body;
        font-weight: 600;
        color: #fff;
        font-size: rem-calc(18);
        line-height: rem-calc(23);
        margin-bottom: 0;

        @include breakpoint(small only) {
            width: 100%;
        }

        a {
            font-weight: bold;
            color: #fff;
        }

        &:not(:last-of-type) {
            margin-bottom: rem-calc(15);
        }
    }

    &--error {
        background-color: rgba(#D63333, 0.5);
        border-color: darken(#d63333, 5%);
    }

    &--success {
        background-color: rgba(#4BB543, 0.5);
        border-color: darken(#4BB543, 5%);
    }

    &--info {
        background-color: rgba(#1e92f4, 1);
        border-color: darken(#1e92f4, 5%);
    }

    &--warning {
        background-color: rgba(#FFCC00, 0.5);
        border-color: darken(#FFCC00, 5%);

        p {
            color: #000;
        }
    }


    &--mb-lg {
        @include responsive-prop((margin-bottom), rem-calc(30), rem-calc(50))

    }
}