.home {
	&__section {
		width: 100%;
		padding: 6rem 0;

		@include breakpoint(medium only) {
			padding: 4rem 0;
		}

		@include breakpoint(small only) {
			padding: 3rem 0;
		}

		&--usps {
			padding: 1.5rem;
		}

		&--services {
			position: relative;

			&:before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 38.4rem;
				background: linear-gradient(180deg, rgba(#f0f0f0, 1), rgba(#f0f0f0, 0));
				z-index: 2;
			}
		}

		&--cta {
			background-color: $purple;
			padding: 4rem 0;

			@include breakpoint(medium down) {
				padding: 3rem 0;
			}
		}

		&--mission {
			padding: 6.7rem 0;
			background-size: initial;
			background-position: 0 12rem;
			background-repeat: no-repeat;

			@include breakpoint(medium down) {
				padding: 4rem 0;
				background-size: cover;
				background-position: 50% 50%;
			}

			@include breakpoint(small only) {
				padding: 3rem 0;
				background: none !important;
			}
		}

		&--locations {
			.text {
				width: 100%;
				max-width: 111.1rem;
				margin-inline: auto;
				text-align: center;
				margin-bottom: 4.8rem;
				padding: 0 1.5rem;

				@include breakpoint(small only) {
					margin-bottom: 3rem;
				}
			}
		}

		&--donate {
			background-position: 50% 50%;
			background-size: cover;
			padding: 8rem 0;

			@include breakpoint(medium only) {
				padding: 6rem 0;
			}

			@include breakpoint(small only) {
				padding: 3rem 0;
			}

			.container {
				display: flex;
				flex-wrap: wrap;
			}
		}
	}

	&__banner {
		position: relative;
	}

	&__hero-content {
		width: 100%;
		max-width: 83.5rem;
		padding: 16.9rem 1.5rem;
		margin: 0 auto;
		text-align: center;

		img {
			position: absolute;
			top: 2rem;
			right: 2rem;
			width: 14rem;
			height: auto;
		}

		@include breakpoint(medium only) {
			padding: 13rem 1.5rem;

			img {
				top: 1rem;
				right: 1rem;
			}
		}

		@include breakpoint(small only) {
			padding: 4.5rem 1.5rem;

			img {
				top: 0;
				right: 0;
				position: relative;
				padding: 0;
				margin: 0 auto 1.5rem auto;
			}
		}

		.button {
			margin: 0 auto;
		}

		p {
			margin: 0 0 1rem 0;
			padding: 0;
			color: #fff;
			font-weight: bold;
			text-shadow: 0 3px 11px rgba(#000, 0.16);

			&:first-of-type {
				font-size: 1.6rem;
				line-height: 2.1rem;
			}

			&:nth-of-type(2) {
				font-size: 3.6rem;
				line-height: 4.1rem;

				@include breakpoint(small only) {
					font-size: 3rem;
					line-height: 3.5rem;
				}
			}

			&:last-of-type {
				font-family: $secondary-font;
				font-size: 7rem;
				line-height: 7rem;
				font-weight: 400;
				margin-bottom: 5rem;

				@include breakpoint(small only) {
					font-size: 5rem;
					line-height: 5rem;
					margin-bottom: 3rem;
				}
			}
		}
	}

	&__usps {
		width: 100%;
		display: flex;
		align-items: center;
		padding: 0 1.5rem;

		.slider__usps {
			flex: 1 0 0;
			margin: 0 1.5rem;
		}
	}

	&__services {
		width: 100%;
		padding: 1.5rem;
		max-width: 100rem;
		margin: 0 auto;
		position: relative;
		z-index: 2;
	}

	&__service {
		width: 100%;
		display: flex;
		flex-direction: row;
		padding: 4rem 0;
		position: relative;
		justify-content: center;

		@include breakpoint(small only) {
			padding: 1.5rem 0;
			flex-direction: column-reverse;
			align-items: center;
		}

		&:nth-child(odd) {
			.home__service-text {
				margin-right: -5rem;

				@include breakpoint(730 down) {
					margin-right: -1.5rem;
				}

				@include breakpoint(small only) {
					margin: 0 auto;
				}
			}

			.home__service-image {
				margin-left: -5rem;

				@include breakpoint(730 down) {
					margin-left: -1.5rem;
				}

				@include breakpoint(small only) {
					margin-left: 0;
					margin-bottom: -3rem;
				}
			}
		}

		&:nth-child(even) {
			flex-direction: row-reverse;

			@include breakpoint(small only) {
				flex-direction: column-reverse;
			}

			.home__service-text {
				background-color: #fff;
				margin-left: -5rem;

				@include breakpoint(730 down) {
					margin-left: -1.5rem;
				}

				.title {
					color: $purple;

					&:before {
						background-color: rgba($purple, 0.16);
					}
				}

				.text {
					p {
						color: $dark-grey;
					}
				}

				.button {
					border-color: $purple;
					color: $purple;

					svg {
						path {
							fill: $purple;
						}
					}
				}
			}

			.home__service-image {
				margin-right: -5rem;

				@include breakpoint(730 down) {
					margin-right: -1.5rem;
				}

				@include breakpoint(small only) {
					margin-right: 0;
					margin-bottom: -3rem;
				}
			}

			.home__service-text {
				@include breakpoint(small only) {
					margin: 0 auto;
				}
			}
		}
	}

	&__service-text {
		width: 50%;
		background-color: $purple;
		box-shadow: 0 3px 11px rgba(#000, 0.16);
		border-radius: rem-calc(4);
		z-index: 2;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding: 4.9rem;
		margin-top: 7.2rem;

		@include breakpoint(small only) {
			padding: 3rem;
			width: calc(100% - 30px);
			margin-top: 0;
		}

		.title {
			font-size: 3.5rem;
			line-height: 4rem;
			font-weight: bold;
			color: #fff;
			margin-bottom: 2.7rem;
			padding-bottom: 2.7rem;
			position: relative;

			@include breakpoint(small only) {
				font-size: 3rem;
				line-height: 3.5rem;
				margin-bottom: 2rem;
				padding-bottom: 2rem;
			}

			&:before {
				content: "";
				width: 7.6rem;
				height: 0.4rem;
				background-color: rgba(#fff, 0.4);
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
				border-radius: 0.5rem;
			}
		}

		.text {
			margin-bottom: 3rem;

			p {
				color: #fff;
				font-size: 1.6rem;
				line-height: 2.1rem;
			}
		}
	}

	&__service-image {
		z-index: 1;
		width: 50%;

		@include breakpoint(small only) {
			width: 100%;
			margin-bottom: -1.5rem;
		}
	}

	&__cta {
		width: 100%;
		padding: 0 1.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		grid-gap: 7.1rem;
		flex-wrap: wrap;
		text-align: center;

		@include breakpoint(medium down) {
			grid-gap: 3rem;
		}

		p {
			color: #fff;
			margin-bottom: 0;
			padding: 0;

			&:first-of-type {
				font-family: $secondary-font;
				font-size: 6rem;
				line-height: 6.5rem;

				@include breakpoint(small only) {
					font-size: 5rem;
					line-height: 5.5rem;
				}
			}

			&:last-of-type {
				font-size: 2.2rem;
				line-height: 2.5rem;
				font-weight: 600;

				@include breakpoint(small only) {
					font-size: 1.8rem;
					line-height: 2.3rem;
				}

				a {
					font-size: inherit;
					line-height: inherit;
					color: #fff;
					font-weight: bold;
				}
			}
		}
	}

	&__mission {
		width: 100%;
		display: grid;
		grid-gap: 7.2rem;
		grid-template-columns: repeat(2, 1fr);
		padding: 0 1.5rem;

		@include breakpoint(785 down) {
			grid-template-columns: 1fr;
			grid-gap: 3rem;
		}
	}

	&__mission-left {
		.title {
			font-size: 3.5rem;
			line-height: 4.5rem;
			font-weight: bold;
			color: $purple;
			margin-bottom: 0.5rem;
		}

		> .text {
			margin-bottom: 3rem;

			p {
				margin-bottom: 0;
			}
		}
	}

	&__principles {
		list-style: none;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		position: relative;
		padding-bottom: 2.5rem;
		margin: 0 0 3rem 0;

		&:before {
			content: "";
			width: 7.6rem;
			height: 0.4rem;
			border-radius: 0.2rem;
			background-color: lighten($dark-grey, 50%);
			position: absolute;
			bottom: 0;
		}

		li {
			color: $purple;
			font-size: 1.6rem;
			font-weight: 600;

			&:not(:last-of-type) {
				&:after {
					content: "|";
					margin: 0 1rem;
				}
			}
		}
	}

	&__points {
		margin: 0 0 3.6rem 0;
		list-style: none;
	}

	&__point {
		display: flex;
		align-items: center;

		&:not(:last-of-type) {
			margin-bottom: 1.5rem;
		}

		.icon {
			width: 8.8rem;
			height: 8.8rem;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			overflow: hidden;
			box-shadow: 0 3px 11px rgba(#000, 0.16);

			@include breakpoint(500 down) {
				width: 7rem;
				height: 7rem;
			}
		}

		.text {
			flex: 1 0 0;
			padding-left: 2.6rem;

			@include breakpoint(500 down) {
				padding-left: 1.5rem;
			}

			p {
			}
		}
	}

	&__mission-right {
		width: 100%;
		overflow: hidden;

		img {
			width: auto;
			max-height: 15.5rem;
		}
	}

	&__mission-video {
		position: relative;

		video {
			width: 100%;
		}

		.button {
			position: absolute;
			bottom: 4.2rem;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	&__map-wrapper {
		width: calc(100% - 3rem);
		background-color: $light-grey;
		margin: 0 auto;
		height: 54.1rem;
		overflow: hidden;
		border-radius: 0.4rem;
		padding: 3.9rem;
		position: relative;

		@include breakpoint(medium down) {
			height: auto;
			padding-bottom: 6rem;
		}

		@include breakpoint(small only) {
			padding: 3rem 1.5rem 6rem 1.5rem;
		}
	}

	&__map {
		width: 100%;
		max-width: 74.1rem;
		height: 100%;
		overflow: auto;
		margin-right: auto;
		margin-bottom: 3rem;
		padding-left: 3rem;

		@include breakpoint(medium down) {
			margin: 0 auto 3rem auto;
			height: 35rem;
		}

		.os-scrollbar {
			&.os-scrollbar-vertical {
				right: unset;
				left: 0;

				.os-scrollbar-track {
					width: 0.6rem;
				}
			}

			.os-scrollbar-track {
				background: #fff;

				.os-scrollbar-handle {
					background: $purple;
				}
			}
		}

		img {
			margin-inline: auto;

			@include breakpoint(medium down) {
				min-width: 74.1rem;
			}
		}
	}

	&__map-locations {
		padding: 3.4rem;
		background-color: #fff;
		box-shadow: 0 0 11px rgba(#000, 0.22);
		width: 33rem;
		height: 38.1rem;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 3.9rem;
		display: flex;
		flex-direction: column;

		@include breakpoint(medium down) {
			position: relative;
			top: 0;
			transform: none;
			height: auto;
			width: 100%;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	&__counties {
		width: 100%;
		height: 23.3rem;
		overflow-y: scroll;
		margin-bottom: 3.5rem;

		.os-scrollbar {
			.os-scrollbar-track {
				width: 0.6rem;
				background: $light-grey;

				.os-scrollbar-handle {
					background: $dark-grey;
				}
			}
		}

		ul {
			li {
				&:not(:last-of-type) {
					margin-bottom: 1rem;
				}
			}
		}
	}

	&__areas {
		width: calc(80% - 6rem);
		margin: 0 auto;
		background-color: #fff;
		position: relative;
		z-index: 2;
		background-color: #fff;
		box-shadow: 0 0 11px rgba(#000, 0.11);
		transform: translate3d(0, -50%, 0);
		top: 0;

		@include breakpoint(medium down) {
			width: calc(100% - 6rem);
			transform: none;
			margin-top: -3rem;
		}

		.areas {
			margin: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 3rem 1.5rem;
			gap: 2.3rem;
			flex-wrap: wrap;

			li {
				display: flex;
				align-items: center;

				.icon {
					width: 2.2rem;
					height: 2.2rem;
					border-radius: 50%;
					margin-right: rem-calc(10);
				}

				p {
					flex: 1 0 0;
					margin-bottom: 0;
				}
			}
		}
	}

	&__donate-content {
		width: 50%;
		padding: 0 0 0 1.5rem;
		padding-right: 7%;

		@include breakpoint(735 down) {
			width: 100%;
			margin-bottom: 3rem;
			padding: 0 1.5rem;
		}

		.a-title {
			padding-left: 0;
			padding-right: 0;
		}

		.text {
			margin-bottom: 3.4rem;

			p {
				color: #fff;
			}
		}
	}

	&__title-wrapper {
		width: 100%;
		display: flex;
		align-items: center;
		padding: 0 1.5rem;
		margin-bottom: 3rem;

		@include breakpoint(small only) {
			flex-wrap: wrap;
			justify-content: center;

			.button {
				margin: 0 auto;
			}
		}

		.a-title {
			flex: 1 0 0;
			padding-left: 0;
			margin-bottom: 0;

			@include breakpoint(small only) {
				width: 100%;
				flex: auto;
				margin-bottom: 3rem;
				padding-right: 0;
				text-align: center;

				&:after {
					left: 50%;
					transform: translateX(-50%);
				}
			}
		}
	}
}
