@charset "utf-8";

@import "node_modules/overlayscrollbars/css/OverlayScrollbars";

@import "theme_settings/rem-calc";
@import "theme_settings/normalise";
@import "theme_settings/fonts";
@import "theme_settings/settings";
@import "theme_settings/mixins";
@import "theme_settings/typography";
@import "theme_settings/base";
@import "theme_settings/global";

//Components
@import "components/social-icon";
@import "components/buttons";
@import "components/cta";
//@import "components/site-hamburger";
//@import "components/checkbox";
@import "components/site-slider";
@import "components/form";
//@import "components/wave";
//@import "components/pagination";
//@import "components/choices";

@import "template-parts/banner";

//partials
@import "partials/header";
@import "partials/footer";
//@import "partials/hero";
//@import "partials/dropdown";
@import "partials/mobile-menu";
//@import "partials/cta-banner";
//@import "partials/review";
@import "partials/breadcrumbs";
//@import "partials/sidebar";

//Pages
@import "page-templates/home";
@import "page-templates/testimonials";
@import "page-templates/articles";
@import "page-templates/team";
//@import "page-templates/services";
//@import "page-templates/services";
@import "page-templates/page-template";
